@*
===============================================================================
 Microsoft patterns & practices
 Data Access Guide
===============================================================================
 Copyright © Microsoft Corporation.  All rights reserved.
 This code released under the terms of the 
 Microsoft patterns & practices license (http://dataguidance.codeplex.com/license)
===============================================================================
*@
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>