@*
===============================================================================
 Microsoft patterns & practices
 Data Access Guide
===============================================================================
 Copyright © Microsoft Corporation.  All rights reserved.
 This code released under the terms of the 
 Microsoft patterns & practices license (http://dataguidance.codeplex.com/license)
===============================================================================
*@
@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">We're sorry, but an error occurred while processing your request.</h2>
    <h3>Please try again later...</h3>
</hgroup>
